.container([hidden]="isLoggedIn")
  //- Should probably get rid of this
  h1
    | Login Here:
  form([formGroup]="form", (ngSubmit)="onSubmit(form.value)")
    .form-group
      label(for="email")
        | Email
      input#name.form-control([formControl]="form.controls['email']",
                              type="text",
                              name="email")
    .form-group
      label(for="password")
        | Password
      input#password.form-control([formControl]="form.controls['password']",
                                  type="password",
                                  name="password")
    button.btn.btn-default([disabled]="!form.valid")
      | Submit