div(class="container")
  //- Should probably get rid of this
  h
    | Register Here:
  form((ngSubmit)="onSubmit()",
       id="registration-form")
    div(class="form-group")
      label(for="username")
        | Username
      input([(ngModel)]="userUsername",
            class="form-control",
            id="username",
            type="uername",
            name="username",
            required)
    div(class="form-group")
      label(for="email")
        | Email
      input([(ngModel)]="userEmail",
            type="text",
            class="form-control",
            id="email",
            name="email",
            required)
    div(class="form-group")
      label(for="password")
        | Password
      input([(ngModel)]="userPassword",
            class="form-control",
            id="password",
            type="password",
            name="password",
            required)
    div(class="form-group")
      div(class="g-recaptcha",
          data-sitekey="6LdhiCkTAAAAAKm0VwPm_vw-ZdzMEfUmmmmVyXZR",
          data-callback="verifyCallback",
          data-expired-callback="captchaExpiredCallback")
    button(class="btn btn-default",
           [disabled]="!captchaResponse")
      | Submit