div(class="container")
  //- Should probably get rid of this
  h
    | Register Here:
  form((ngSubmit)="onSubmit()")
    div(class="form-group")
      label(for="username")
        | Username
      input([(ngModel)]="userUsername",
            class="form-control",
            id="password",
            type="uername",
            name="username",
            required)
    div(class="form-group")
      label(for="email")
        | Email
      input([(ngModel)]="userEmail",
            type="text",
            class="form-control",
            id="name",
            name="email",
            required)
    div(class="form-group")
      label(for="password")
        | Password
      input([(ngModel)]="userPassword",
            class="form-control",
            id="password",
            type="password",
            name="password",
            required)
    button(class="btn btn-default")
      | Submit