#cos-register-user
//- This should be '*ngIf' but some weird bug triggers. Need to fix this later.
.container([hidden]="isLoggedIn")
  //- Should probably get rid of this
  h1
    | Register Here:
  form.registration-form#cos-register-user-form([formGroup]="form", (ngSubmit)="onSubmit(form.value)")
    .form-group
      label(for="username")
        | Username
      input#cos-register-user-username-field.form-control([formControl]="form.controls['username']",
                                                          type="uername",
                                                          name="username")
      .alert.alert-danger#cos-register-user-username-empty(*ngIf="form.controls['username'].hasError('required') && formSubmitted")
          | You need to pick a username.
      .alert.alert-danger#cos-register-user-username-too-long(*ngIf="form.controls['username'].hasError('maxlength') && formSubmitted")
          | That's too long. Keep it under 10 characers.
      .alert.alert-danger#cos-register-user-username-invalid(*ngIf="form.controls['username'].hasError('pattern') && formSubmitted")
          | We're only allowing alphanumeric usernames for now.
    .form-group
      label(for="email")
        | Email
      input.form-control#cos-register-user-email-field([formControl]="form.controls['email']",
                                                       type="text",
                                                       name="email")
      .alert.alert-danger#cos-register-user-email-invalid(*ngIf="form.controls['email'].hasError('email') && formSubmitted")
          | That's not a valid email.
    .form-group
      label(for="password")
        | Password
      input.form-control#cos-register-user-password-field([formControl]="form.controls['password']",
                                                          type="password",
                                                          name="password")
      .alert.alert-danger#cos-register-user-password-empty(*ngIf="form.controls['password'].hasError('required') && formSubmitted")
          | You need a password.
      .alert.alert-danger#cos-register-user-password-too-long(*ngIf="form.controls['password'].hasError('maxlength') && formSubmitted")
          | That password's too long. Keep it under 20 characters.
      .alert.alert-danger#cos-register-user-password-too-short(*ngIf="form.controls['password'].hasError('minlength') && formSubmitted")
          | That password's too short. Make it at least 8 characters long.
      .alert.alert-danger#cos-register-user-password-invalid(*ngIf="form.controls['password'].hasError('pattern') && formSubmitted")
          | We're only allowing alphanumeric passwords for now... trust me that will change.
    .form-group
      label(for="confirm-password")
        | Re-Enter Password
      input#cos-register-user-password-verify-field.form-control([formControl]="form.controls['passwordVerify']",
                                                                 type="password",
                                                                 name="passwordVerify")
      .alert.alert-danger#cos-register-user-password-verify-empty(*ngIf="form.controls['passwordVerify'].hasError('required') && formSubmitted")
          | You need to enter that password again.
      .alert.alert-danger#cos-register-user-password-verify-no-match(*ngIf="!passwordsMatch && formSubmitted")
          | Those passwords don't match.
    .form-group
      .g-recaptcha#cos-register-user-recaptcha(data-sitekey="6LdhiCkTAAAAAKm0VwPm_vw-ZdzMEfUmmmmVyXZR",
                                               data-callback="verifyCallback",
                                               data-expired-callback="captchaExpiredCallback")
    //-
      The button is only disabled when there is no recaptcha response. We could
      disable it only when the form is invalid but then it's likely the form
      would need a bunch of conditionals to prevent certain alerts popping up
      before the form is submitted and the result could be 'soupy'. Revisit
      this later.
    button.btn.btn-default#cos-register-user-submit-button([disabled]="!captchaResponse")
      | Submit
