.container([hidden]="isLoggedIn")
  //- Should probably get rid of this
  h1
    | Register Here:
  form#registration-form.registration-form((ngSubmit)="onSubmit()")
    .form-group
      label(for="username")
        | Username
      input#username.form-control([(ngModel)]="userUsername",
                                  type="uername",
                                  name="username",
                                  required)
    .form-group
      label(for="email")
        | Email
      input#email.form-control([(ngModel)]="userEmail",
                               type="text",
                               name="email",
                               required)
    .form-group
      label(for="password")
        | Password
      input#password.form-control([(ngModel)]="userPassword",
                                  type="password",
                                  name="password",
                                  required)
    .form-group
      label(for="confirm-password")
        | Password
      input#password.form-control([(ngModel)]="confirmPassword",
                                  type="password",
                                  name="password",
                                  required)
    .form-group
      .g-recaptcha(data-sitekey="6LdhiCkTAAAAAKm0VwPm_vw-ZdzMEfUmmmmVyXZR",
                   data-callback="verifyCallback",
                   data-expired-callback="captchaExpiredCallback")
    button.btn.btn-default([disabled]="!captchaResponse")
      | Submit
